.bash_history
.bash_logout
.bash_profile
.bashrc
.lesshst
.profile
.sudo_as_admin_successful
.viminfo
.cache/
.cache/motd.legal-displayed
oci.json
deployment-traefik.yaml
.config/
.dotnet/
.kube/
.ssh/
.vscode-server/
wg/
pki
.local
.wget-hsts
.minikube/
wg.bak/
yq
install-oci-k8s.sh
dashboard/02-ingress.yaml
oci-manage-config.sh
bird.conf
miscellaneous/ciliumbgp.yaml
.gitconfig
miscellaneous/lb
lib/
bin/
.npm/
.oci/
.bashrc.backup
oci.sctg.eu.org.key
go/
.docker/

.azure/az.json
.azure/az.sess
.azure/azureProfile.json
.azure/commandIndex.json
.azure/config
.azure/telemetry.txt
.azure/versionCheck.json
.azure/commands/2023-04-21.17-27-27.unknown_command.1090090.log
.azure/logs/telemetry.log
.azure/az_survey.json
.azure/clouds.config
.azure/msal_http_cache.bin
.azure/msal_token_cache.json
.azure/commands/2023-04-21.17-34-48.ad_sp_create-for-rbac.1095153.log
.azure/commands/2023-04-21.17-35-02.login.1095390.log
.azure/commands/2023-04-21.17-35-27.login.1095710.log
.azure/commands/2023-04-21.17-36-16.ad_sp_create-for-rbac.1096286.log
.azure/commands/2023-04-21.17-40-00.account_show.1098951.log
.azure/commands/2023-04-21.17-44-35.role_assignment_delete.1101850.log
.azure/commands/2023-04-21.17-45-14.network_dns_zone_show.1102311.log
.azure/commands/2023-04-21.17-45-33.network_dns_zone_show.1102596.log
.azure/commands/2023-04-21.17-47-01.network_dns_zone_show.1103561.log
.azure/commands/2023-04-21.17-48-53.role_assignment_list.1104747.log
.azure/commands/2023-04-21.17-49-39.role_assignment_create.1105275.log
.azure/commands/2023-04-21.17-49-51.role_assignment_list.1105473.log
.azure/telemetry/cache
.redhat/anonymousId
_sensitive_datas/_sensitive_datas.tar.xz
.docker/